{%- if page.paginator -%}
  {%- assign paginator = page.paginator -%}
{%- elsif paginator == nil -%}
  {%- assign paginator = site -%}
{%- endif -%}

{%- if paginator.posts.size > 0 -%}
<div class="pagination">
  <!-- Post list links -->
  <ul class="post-list">
    {%- for post in paginator.posts -%}
    <li>
      {%- assign date_format = site.yat.date_format | default: "%b %-d, %Y" -%}
      {% assign article = post.content %}
      {% assign lang = post.lang %}
      {%- include functions.html func='get_reading_time' -%}
      {% assign reading_time = return %}
      {%- include functions.html func='get_article_excerpt' -%}
      {% assign excerpt = return %}
      {%- assign post_url = post.url | relative_url -%}
      

      <a class="post-link" href="{{ post_url }}">
        <div>
          <img class="post-img" src="{{post.banner.image | escape}}" onerror="this.src='https://i.pinimg.com/564x/c7/8f/65/c78f6507972d3c21e290ea660a812433.jpg'">
        </div>
        <h2 class="post-title">
            {{ post.title | escape }}
        </h2>
        
        <class class="post-excerpt" href="{{ post_url }}"></class>
          <p>
          {{ post.subtitle }}
          </p>
        </a>
        <div class="post-meta">
          <span class="post-date"><i class="fa fa-calendar"></i> {{ post.date | date: date_format }}</span>
          <span class="post-reading-time left-vsplit"><i class="fa fa-clock-o"></i> {{ reading_time }}</span>
        </div>
        </a>
        <div class="post-tags">
          {%- for tag in post.tags -%}
          <a class="post-tag" href="{{ '/tags.html ' | relative_url }}#{{tag}}">#{{tag}}</a>
          {%- endfor -%}
        </div>
      
    </li>
    {%- endfor -%}
  </ul>

  <!-- Pagination links -->
  {%- if paginator.posts.size < site.posts.size -%}
    {%- include views/paginator.html -%}
  {%- endif -%}
</div>
{%- endif -%}

